@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter;
}

.flexCenter {
  @apply flex justify-center items-center;
}

.flexBetween {
  @apply flex justify-between items-center;
}

.flexStart {
  @apply flex items-center justify-start;
}

.text-small {
  @apply text-sm font-medium;
}

.paddings {
  @apply lg:px-20 py-6 px-5;
}

footer { 
  background-color: #202430;
  padding: 100px 30px 30px 30px;
}

.footer-spc-color {
  color: #92989F;
}

input[type='radio']:checked + .checkbox-label {
  background-color: #E9EBFD;
}

.spc-text::after, .spc-text::before {
  position: absolute;
  content: '';
  width: 50%;
  height: 2px;
  background-color: #D6DDEB;
  top: 50%;
}

.spc-text::after {
  right: -50%;
}

.spc-text::before {
  left: -50%;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.side-bar {
  border-right: solid 2px #CCCCF5;
}

.side-bar .active-li {
  background-color: #E9EBFD;
}

.side-bar .active-li {
  color: #4640DE;
  font-weight: 500;
}

.side-bar .active-li::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 80%;
  background-color: #4640DE;
  top: 50%;
  translate: 0 -50%;
  left: -19px;
}

@media (max-width: 640px) {
  .side-bar .active-li::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 80%;
    background-color: #4640DE;
    top: 50%;
    translate: 0 -50%;
    left: -6px;
  }
}

.side-bar li:hover {
  color: #4640DE;
  background-color: #E9EBFD;
}

.side-bar li:hover .side-bar-icons {
  color: #4640DE;
}

.side-bar-icons {
  color: #7C8493;
  width: 25px;
  height: 25px;
  font-weight: bold;
}

.selected-contact {
  background-color: #E9EBFD;
}

.hide-y-scroll {
  overflow-y: scroll; /* Enable scrolling */
  -webkit-scrollbar: none; /* Hide scrollbar for Chrome, Safari, etc. */
  -ms-overflow-style: none; /* Hide scrollbar for Edge */
}

.hide-y-scroll::-webkit-scrollbar { /* Optional for a cleaner look */
  display: none;
}